body {
    direction: ltr;
	text-align: left;
}

th,
td {
    border-right-width: 1px;
	border-left-width: 0;
	border-top-width: 0;
	text-align: left;
}

th:last-child,
td:last-child {
    border-left-width: 1px;
	border-right-width: 0;
}


/**
 * SWEET ALERT
 */
.swal-footer {
    text-align: right !important;
}

.swal-text {
	text-align: left !important;
}

/**
 * BOOTSTRAP
 */
.nav {
    padding-right: inherit;
    padding-left: 0;
}

.navbar-nav {
	padding-right: inherit;
    padding-left: 0;
}

.list-inline-item:not(:last-child) {
	margin-right: .5rem;
	margin-left: 0;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child),
.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.mlm-rounded.btn-group>.btn-group:not(:last-child)>.btn,
.mlm-rounded.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.mlm-rounded.input-group>.custom-select:not(:last-child),
.mlm-rounded.input-group>.form-control:not(:last-child) {
	border-top-left-radius: 50rem;
	border-bottom-left-radius: 50rem;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.mlm-rounded.btn-group>.btn-group:not(:first-child)>.btn,
.mlm-rounded.btn-group>.btn:not(:first-child),
.mlm-rounded.input-group>.input-group-append>.btn,
.mlm-rounded.input-group>.input-group-append>.input-group-text,
.mlm-rounded.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.mlm-rounded.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.mlm-rounded.input-group>.input-group-prepend:not(:first-child)>.btn,
.mlm-rounded.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
}

.input-group-append .btn+.btn,
.input-group-append .btn+.input-group-text,
.input-group-append .input-group-text+.btn,
.input-group-append .input-group-text+.input-group-text,
.input-group-prepend .btn+.btn,
.input-group-prepend .btn+.input-group-text,
.input-group-prepend .input-group-text+.btn,
.input-group-prepend .input-group-text+.input-group-text,
.input-group-append {
    margin-left: -1px;
    margin-right: 0;
}

.alert-dismissible {
    padding-left: 1.25rem;
    padding-right: 4rem;
}

.alert-dismissible .close {
    right: 0;
    left: auto;
}

.dropdown-menu {
    left: 0;
    right: auto;
    float: left;
    text-align: left;
}

.dropdown-toggle::after {
	margin-right: 0;
	margin-left: .255em;
}

.modal-footer>:not(:last-child) {
	margin-left: 0;
	margin-right: .25rem;
}

.form-check {
	padding-right: 0;
	padding-left: 1.25rem;
}

.form-check-inline {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: .75rem;
}

.form-check-input {
    margin-right: 0;
    margin-left: -1.25rem;
}

.form-check-inline .form-check-input {
    margin-right: .3125rem;
    margin-left: 0;
}

.breadcrumb-item+.breadcrumb-item {
	padding-right: 0;
	padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
	padding-left: 0;
	padding-right: .5rem;
}

/**
 * BOXES
 */
.mlm-box-title:not(.icon):after {
	float: right;
	margin: 20px 0 0 15px;
}

.mlm-box-title.sm:not(.icon):after {
	margin: 15px 0 0 10px;
}

.mlm-box-title.icon:before {
	float: left;
    margin-right: 10px;
	margin-left: 0;
}

/**
 * ARCHIVE
 */
.mlm-archive .mlm-product .item-header img {
    right: 50%;
	left: auto;
	transform: translate(-50%, -50%);
}

.mlm-archive .mlm-product .item-header .vip {
    right: 15px;
	left: auto;
}

.mlm-archive .mlm-product .item-header .off {
	left: 15px;
	right: auto;
}

.mlm-archive .mlm-product .item-meta.icon:before {
	float: left;
    margin-right: 5px;
	margin-left: 0;
}

/**
 * MODAL LOGIN
 */
#mlm-login-register-popup .close {
    right: 20px;
	left: auto;
}

#mlm-login-register-popup .mlm-popup-login-cover:after {
    right: 0;
	left: auto;
}

/**
 * SINGLE PRODUCT
 */
.mlm-product-nav .nav-pills .nav-link .icon:before {
    right: 9px;
	left: auto;
}

.mlm-panel-wrapper .mlm-share-btn:before,
.mlm-single-post .mlm-share-btn:before,
.mlm-single-product .mlm-share-btn:before {
	float: left;
	margin: 0 4px 0 0;
}

.mlm-panel-wrapper .mlm-share-dropdown .icon:before,
.mlm-single-post .mlm-share-dropdown .icon:before,
.mlm-single-product .mlm-share-dropdown .icon:before {
    right: 6px;
	left: auto;
}

.mlm-rating-box .stars-group > label:before {
    margin-right: 3px;
	margin-left: 0;
}

.mlm-rating-box .stars-group > label {
	float: left;
}

.mlm-single-post .mlm-post-tags a:not(.btn),
.mlm-single-product .mlm-post-tags a:not(.btn) {
    margin: 0 2px 2px 0;
}

.mlm-single-post .mlm-post-tags a.btn,
.mlm-single-product .mlm-post-tags a.btn {
    right: 5px;
	left: auto;
}

.mlm-product-gallery-widget img {
    left: 0;
	right: auto;
}

.mlm-archive .mlm-product .item-vendor.verified,
.mlm-product-vendor-widget .vendor-name .verified {
    padding-right: 30px;
	padding-left: 0;
    background-position: right center;
}

.mlm-archive .mlm-product .item-vendor.verified {
    padding-right: 20px;
	padding-left: 0;
}

/**
 * COURSE CHAPTERS
 */
.mlm-course-chapters-widget .chapter-header .icon {
    right: 10px;
	left: auto;
}

/**
 * VENDOR PAGE
 */
.mlm-vendor-box .vendor-cover .mlm-vendor-social-nav {
    right: 10px;
	left: auto;
}

/**
 * USER PANEL
 */
.mlm-user-panel-widget .panel-nav .icon:before {
	float: left;
    margin-right: 5px;
	margin-left: 0;
}

.mlm-user-panel-widget .panel-nav .multi > a:after {
	float: right;
    margin-left: 5px;
	margin-right: 0;
}

/* social */
.mlm-panel-social-icons .icon-telegram:before,
.mlm-panel-social-icons .icon-instagram:before {
	float: left;
    margin-right: 5px;
	margin-left: 0;
}


/* tickets */
.mlm-ticket-content .ticket-reply .top-bar .date {
    margin: 8px 0 8px 10px;
}

.ticket-attaches-placeholder > a {
    float: left;
}

/**
 * COUNTDOWN
 */
.counter-box {
    padding-left: 40px;
	padding-right: 0;
}

.counter-box .icon {
    left: 15px;
	right: auto;
}

.mlm-countdown .countdown-section {
	border-left: 1px dashed #f8f9fa;
    border-right: 0;
}

.mlm-countdown .countdown-section:first-child {
    border-left: 0;
}

/**
 * WIDGETS
 */
.mlm-widget .widget-title:not(.icon):after {
	float: right;
}

.mlm-contact-widget .icon:before {
	float: left;
    margin-right: 10px;
	margin-left: 0;
}

.mlm-offers-slider-wrapper .swiper-button-next,
.mlm-offers-slider-wrapper .swiper-button-prev {
	left: 10px;
	right: auto;
}

.mlm-offers-slider-wrapper .swiper-button-prev {
    left: 55px;
}

.mlm-offers-slider-wrapper .swiper-button-next .icon,
.mlm-offers-slider-wrapper .swiper-button-prev .icon {
    -webkit-mask-image: url(../img/icon-left.svg);
	mask-image: url(../img/icon-left.svg);
}

.mlm-offers-slider-wrapper .swiper-button-prev .icon {
    -webkit-mask-image: url(../img/icon-right.svg);
    mask-image: url(../img/icon-right.svg);
}

.mlm-offers-slider .mlm-product-offer .sale-badge {
    left: 180px;
	right: auto;
}

.mlm-offers-slider .mlm-product-offer .item-meta.icon:before {
	float: left;
    margin-right: 5px;
	margin-left: 0;
}

/* CART WIDGET */
.widget_shopping_cart .cart_list li {
	padding-right: 2em;
	padding-left: 0;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
	text-align: left;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	left: auto;
	right: 0;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	float: left;
	margin: 4px 4px 0 0;
}

.woocommerce ul.cart_list li .quantity {
	float: right;
}

/**
 * WC
 */
.woocommerce-account .addresses .title .edit {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.woocommerce ul.order_details li {
    border-right: 1px dashed #007bff;
	border-left: 0;
}

/**
 * SEARCH PAGE
 */
@media( max-width: 991px ) {
	.app-search-page-wrapper {
        left: -250px;
		right: auto;
	}

	.app-search-page-wrapper.open {
        left: 0;
		right: auto;
	}
}

.mlm-search-page-header .search-input-group .form-control {
	padding: 15px 0 15px 20px;
}

.mlm-filters-widget .category-item {
    padding-right: 15px;
	padding-left: 0;
}

.mlm-filters-widget .category-item .toggle {
    right: 0;
	left: auto;
}

.mlm-filters-widget .category-item .childs {
    padding-left: 15px;
	padding-right: 0;
}

/**
 * NOTIFICATION
 */
.mlm-header .app-notification-btn {
    margin: 0 10px 0 7px;
}

.mlm-header .app-notification-btn.al:before {
    left: 2px;
	right: auto;
}

.mr-auto {
    margin-right: 0 !important;
    margin-left: auto!important;
}

.ml-auto {
    margin-left: 0 !important;
    margin-right: auto!important;
}

.float-right {
    float: left !important;
}

.float-left {
    float: right !important;
}

/**
 * SEARCH POPUP
 */
body.search-open:before {
    right: 0;
	left: auto;
}

.app-search-popup .search-input-group .form-control {
	padding: 15px 0 15px 20px;
}

/**
 * CART POPUP
 */
.app-cart-popup {
    left: 0;
	right: auto;
}

body.card-open:before {
    right: 0;
	left: auto;
}

.app-cart-popup.hide {
    left: -540px;
	right: auto;
}

/**
 * MOBILE MENU
 */
.app-mobile-menu .app-right-mobile-menu {
    left: -80px;
	right: auto;
}

.app-mobile-menu .app-left-mobile-menu {
    right: -100%;
	left: auto;
}

.app-mobile-menu.open .app-right-mobile-menu {
    left: 0;
	right: auto;
}

.app-mobile-menu.open .app-left-mobile-menu {
    right: 0;
	left: auto;
}

.app-mobile-menu .search-input-group .form-control {
	padding: 25px 0 24px 20px;
}

.app-mobile-menu .main-nav .menu-item-has-children>.nav-link {
    padding-right: 30px;
	padding-left: 0;
}

.app-mobile-menu .main-nav .menu-item-has-children>.nav-link:after {
    right: 15px;
    left: auto;
}

/**
 * FIXED HEADER
 */
.app-header-menu .app-search-btn,
.app-header-menu .app-notification-btn,
.app-header-menu .app-basket-btn {
    margin: 0 10px 0 7px;
}

.app-header-menu .app-basket-btn:after {
    right: -7px;
    left: auto;
}

.app-header-menu .app-notification-btn.al:before,
.app-header-menu .app-basket-btn.al:before {
    left: 2px;
	right: auto;
}

.app-header-menu .user-tools .dropdown-toggle {
    padding-right: 20px!important;
    padding-left: 0!important;
}

.app-header-menu .user-tools .dropdown-toggle:after {
    right: 0;
	left: auto;
}

.app-header-menu .user-tools .dropdown-menu {
    left: auto;
    right: 0;
}

/* TOGGLE BTN */
.app-header-menu .toggle-quru span::before,
.app-header-menu .toggle-quru span::after {
    right: 0;
	left: auto;
}

.app-fixed-header .app-mega-menu .menu-item-has-children>.nav-link {
    padding-right: 15px;
	padding-left: 0;
}

.app-fixed-header .app-mega-menu .menu-item-has-children>.nav-link:after {
    right: 0;
    left: auto;
}

.app-fixed-header .app-mega-menu .sub-menu a.icon {
    padding-left: 40px;
	padding-right: 0;
}

.app-fixed-header .app-mega-menu .sub-menu a.icon:before {
    left: 5px;
	right: auto;
}

/**
 * HOME SEARCH
 */
.app-home-search .search-input .input {
	padding: 20px 75px 20px 25px;
}

.app-home-search .search-input .search-btn {
    right: 15px;
	left: auto;
}

/**
 * HOME TABS
 */
.app-home-tabs .app-tabs-nav .nav-item:not(:last-child) .nav-link:after {
    left: 100%;
	right: auto;
}

.app-mini-products .product-item .item-off {
    left: -22px;
	right: auto;
}

.app-mini-products .product-item .item-off svg {
    left: 0;
	right: auto;
}

/**
 * POPUP BOX
 */
.app-fixed-popup-box {
    right: 50px;
	left: auto;
}

.app-fixed-popup-box .item-image img {
    right: 0;
	left: auto;
}

.app-fixed-popup-box .item-image:after {
    left: 0;
    right: auto;
}

.app-fixed-popup-box .item-rate:after {
    margin-left: 3px;
	margin-right: 0;
}


/**
 * PRODUCT SLIDE
 */
.app-product-slide .slide-badge svg {
    right: 0;
	left: auto;
}

.app-product-slide .slide-badge .t {
    padding-left: .9375rem;
    padding-right: 0;
}

.mlm-rating-box .stars-group>label {
    float: left;
}

.mlm-rating-box .stars-group>label:before {
    margin-right: 3px;
    margin-left: 0;
}

.app-product-slide .slide-price .item-sales,
.app-product-slide-widget .slide-price .item-sales {
    padding-left: 50px;
	padding-right: 0;
}

.app-product-slide .slide-price .item-sales svg,
.app-product-slide-widget .slide-price .item-sales svg {
    left: 0;
	right: auto;
}

.app-product-slide .slide-links .btn .icon,
.app-product-slide-widget .slide-links .btn .icon {
    right: 5px;
	left: auto;
}

.app-product-slide .slide-image .slide-item:nth-child(2),
.app-product-slide-widget .slide-image .slide-item:nth-child(2) {
    left: 0;
	right: auto;
}


/**
 * ARCHIVE ITEMS
 */
.app-products-archive .box-title .title {
    padding-left: 50px;
	padding-right: 0;
}

.app-products-archive .box-title .title .icon {
    left: 0;
	right: auto;
}

.app-products-archive .box-title .nav .nav-link:not(:last-child):before {
    right: 0;
	left: auto;
}

.app-products-archive .archive-item .item-image img {
    right: 0;
	left: auto;
}

.app-products-archive .archive-item .item-image:after {
    left: 0;
    right: auto;
}

.app-products-archive .archive-item .item-off {
    left: -27px;
	right: auto;
}

.app-products-archive .archive-item .item-off svg {
    left: 0;
	right: auto;
}

.app-products-archive .archive-item .item-rate {
    padding-right: 5px;
	padding-left: 0;
    border-right: 1px solid #e6e6e6;
	border-left: 0;
}

.app-products-archive .archive-item .item-rate:after {
    margin-left: 3px;
	margin-right: 0;
}

/**
 * TOP VENDOR WIDGET
 */
.app-top-vendor-widget .vendor-link .btn .icon {
    right: 5px;
    left: auto;
}

.app-top-vendor-widget .product-item .item-price {
    left: -33px;
	right: auto;
}

.app-top-vendor-widget .product-item .item-price svg {
    left: 0;
	right: auto;
}

.app-top-vendor-widget .product-item .item-image img {
    left: 0;
	right: auto;
}

/**
 * PRODUCT TABS
 */
.app-product-tabs .nav .nav-link {
    border-left: 1px solid #b5b7b8;
	border-right: 0;
}

.app-product-tabs .nav .nav-link .icon {
    right: 5px;
	left: auto;
}

.app-product-tabs .nav .nav-item:last-child .nav-link {
    border-right: 1px solid #b5b7b8;
	border-left: 0;
}

/**
 * SINGLE PRODUCT
 */
.purchase-product-widget .slide-price .item-sales {
    padding-left: 50px;
	padding-right: 0;
}

.purchase-product-widget .slide-price .item-sales svg {
    left: 0;
	right: auto;
}

.app-product-slide .slide-price .item-price del,
.purchase-product-widget .item-price del,
.app-product-slide-widget .slide-price .item-price del {
    left: 0;
	right: auto;
}

.purchase-product-widget .item-desc .dotted {
    padding-left: 20px;
	padding-right: 0;
}

.purchase-product-widget .item-desc .dotted:before {
    left: 0;
	right: auto;
}

.purchase-product-widget .btn-buy .icon {
    right: 5px;
	left: auto;
}

.product-gallery-widget img {
    left: 0;
	right: auto;
}

.product-tags-widget a:not(.btn) {
    margin-right: 8px !important;
	margin-left: 0 !important;
}

.mlm-product-fixed-widget .price-col .btn {
    text-align: right;
}

/**
 * FOOTER
 */
.app-footer .footer-nav li {
    padding-right: 5%;
	padding-left: 0;
}

/**
 * INTEGRATE
 */
.icon-aparat-large:before {
    left: 50%;
	right: auto;
    margin-left: -10px;
	margin-right: 0;
}

/**
 * DASHBOARD
 */
.app-panel-content {
	padding-left: 280px;
	padding-right: 30px;
}

.app-panel-content .dashboard-menu {
    left: 0;
	right: auto;
}

.app-panel-content .dashboard-menu.open {
    left: 0!important;
	right: auto!important;
}

.app-panel-content .dashboard-menu .app-close-mobile-btn {
    left: 0;
	right: auto;
}

.app-panel-content .dashboard-menu.open .app-close-mobile-btn {
    left: 100%;
	right: auto;
}

.app-panel-content .dashboard-menu .panel-nav .icon:before {
	float: left;
    margin-right: 5px;
	margin-left: 0;
}

.app-panel-content .dashboard-menu .panel-nav .multi > a:after {
	float: right;
    margin-left: 5px;
	margin-right: 0;
}

.app-panel-content .dashboard-menu .panel-nav .acik > a {
    border-right: 5px solid #fea000;
	border-left: 0;
}

/**
 * LOGIN PAGE
 */
.login-page-wrapper .go-back-link {
	text-align: left;
}

.login-page-wrapper .go-back-link:before {
    right: 0;
	left: auto;
}

.login-page-wrapper .go-back-link.sc {
    padding-right: 20px;
	padding-left: 0;
}

.login-page-wrapper .security-tips {
    left: 0;
	right: auto;
}

.login-page-wrapper .security-tips .dotted {
    padding-left: 20px;
    padding-right: 0;
}

.login-page-wrapper .security-tips .dotted:before {
    left: 0;
    right: auto;
}

/**
 * COMMENTS
 */
.mlm-comments-box .comment-list .children {
    margin-left: 45px;
	margin-right: 0;
}

.mlm-comments-box .comment-list .children:before {
    left: 35px;
	right: auto;
}

.mlm-comments-box .comment-list .children > li:last-child:after {
    left: -10px;
	right: auto;
}

.mlm-comments-box .comment-body {
    padding-left: 80px;
    padding-right: 0;
}

.mlm-comments-box .comment-body:before {
    left: -10px;
	right: auto;
}

.mlm-comments-box .comment-body .comment-author img.avatar {
    left: 5px;
	right: auto;
}

.mlm-comments-box .comment-nav .comment-nav-prev {
	float: left;
}

.mlm-comments-box .comment-nav .comment-nav-next {
	float: right;
}

.mlm-comments-box .mlm-interaction .icon:before {
    right: -2px;
	left: auto;
}

/**
 * RESPONSIVE
 */
@media( max-width: 991px ) {
	.app-cart-popup.hide {
        left: -500px;
		right: auto;
	}
}

@media( max-width: 767px ) {
	.app-panel-content {
        padding-left: 30px;
		padding-right: 0;
	}

	.app-panel-content .dashboard-menu {
        left: -250px;
		right: auto;
	}

	.app-cart-popup.hide {
        left: -400px;
		right: auto;
	}
}

@media( max-width: 500px ) {
	.app-cart-popup.hide {
        left: -350px;
		right: auto;
	}
}

@media( max-width: 450px ) {
	.app-header-menu .app-basket-btn:after {
        right: -5px;
		left: auto;
	}

	.app-mini-products .product-item .item-off,
	.app-products-archive .archive-item .item-off {
        left: 0;
		right: auto;
	}
}